.container {
  margin: 50px;
}

.card {
  margin: 0 2% !important;
  background-color: #eaeaea !important;
  border-radius: 25px !important;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4) !important;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
